@import url('https://fonts.googleapis.com/css?family=Bangers');

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #2d3e50;
}


/* the following styles apply to the cards in the view cards screen*/
.item{
  border-radius: 10px;
  padding: 20px;


}

.item > h3{
  position: absolute;
  margin-top: -40px;
  z-index: 2;
}

.item > img{
  position: relative;
  border-radius: 10px;
  z-index: 1;

}
.SuperHeros{
  color: white;
  text-shadow: 2px 2px #2c3E50;
  font-family: 'Bangers', cursive;
  background-color: #2A99D9;
}
.SuperHeros > img{
  border: 2px solid #2c3E50;
}


.SuperHeros > h3{
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  padding-right: 20px;

}


.catLab{
  width: 50%;
  display: inline-block;
  text-align: center;
  min-height: 50px;
  border-bottom: 2px solid #2c3E50;
}
.Actors > .catLab{

  border-bottom: 2px solid #c5b357;
}

.catLab:nth-child(even) {
    border-left: 2px solid #2c3E50;
}

.catLab:nth-child(7), .catLab:nth-child(8) {
    border-bottom: none;
}

.catLab > h4{
  font-size: 2rem;
}

.catLab > p{
  color: #2c3E50;
  text-shadow: white;
}

/*actors card styles*/
.Actors{
  background-color: #34291c;
  font-family: 'Great Vibes', cursive;
  color: #c5b357;
  text-shadow: .5px .2px white;
}
.Actors > img{
  border: 2px solid #c5b357;
}

.Actors > h3{
  text-align: center;
  font-size: 1.92rem;
  color: #c5b357;
  margin-bottom: 30px;
  width: 100%;
  padding-right: 20px;
  text-shadow: .6px .6px white;
}

.Actors > .catLab:nth-child(even) {
    border-left: 2px solid #c5b357;
}


.catLab:nth-child(7), .catLab:nth-child(8) {
    border-bottom: none;
}

.mainContent{
  margin-top: 60px;
  padding: 20px;

}

/* nav styles */
.nav-wrapper{
  background-color: #2d3e50;
}

.brand-logo{
  color: #2dcc70!important;
}


.btn{
      background-color: #2dcc70!important;
      color: #2d3e50;
}
.btn:hover{
      opacity: 0.85;
}


/*game screen*/

.cap::first-letter{
  text-transform: uppercase;
}

mouseChange:hover{
 cursor: pointer;
}

.gameCard{
  max-width: 310px;
  display: table;
  margin: 0 auto;
}

.SuperHeros > h2{
  text-align: center;

  margin-top: -40px;
  z-index: 2;
  position: relative;
  font-size: 2.92rem;
}

/* loading spinner animation*/
.loader {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #2d3e50;
    border-top: 16px solid #2dcc70;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*  forms*/

.valign-wrapper{
  width:100%;
  height:100%;
  position: relative;

}

.valign{

  width:100%;
}

.error{
  color: #ef5350!important;
}
.marleft{
  margin-left: 30px;
}


.Modal-modal-0-1-3{
  background-color: #2d3e50!important;
  color: #2dcc70!important;
  text-align: center;
}
.Modal-closeIcon-0-1-4{
  visibility: hidden;
}




footer{
  /*position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;*/
    background-color: #2d3e50!important;

  }
